@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--component-button-bg-black-secondary-hover);
}
/* The wrapper class in only for this html file and not part of dropdown */
.wrappers {
  display: flex;
  flex-direction: row;
}

                          /* Copy from here  */

/* Input container */
.quill-dropdown-container {
  width: 100%;
  align-items: center;
  font-family: var(--core-fontFamily-ibmPlex-sans);
  overflow: hidden;
  position: relative;
  display: flex;
}

.quill-dropdown-container .select2-selection .select2-selection__rendered {
  font-size: var(--semantic-typography-body-md-regular-default-fontSize) !important;
  line-height: var(--semantic-typography-body-md-regular-default-lineHeight);
  color: var(--component-dropdownItem-icon-selectedWhite) !important;
  width: 100%;
  border: none;
  cursor: pointer;
}

/* Input container for size md */
.quill-dropdown-md .select2-container--default .select2-selection--single {
  padding-inline: var(--component-field-spacing-padding-md);
  height: var(--component-field-height-md) !important;
  background-color: var(--component-button-bg-black-secondary-hover) !important;
  border-radius: 8px !important;
  border: none !important;
  display: flex;
  align-items: center;

}
/* Input container for size sm */
.quill-dropdown-sm .select2-container--default .select2-selection--single {
  padding-inline: var(--component-field-spacing-padding-md);
  height: var(--component-field-height-sm) !important;
  background-color: var(--component-button-bg-black-secondary-hover) !important;
  border-radius: 8px !important;
  border: none !important;
  display: flex;
  align-items: center;

}
/* Disable input search for default select dropdown*/
.select2-search {
  display: none !important;
}
/* Enable border when dropdown is focussed */
.select2-container--focus {
  border: var(--component-field-border-width) solid var(--component-dropdownItem-icon-selectedWhite) !important;
  border-radius: var(--core-spacing-400) !important;
}

.quill-dropdown-source {
  width: 100%;
  max-width: 320px;
}
/* Dropdown container > ul */
.select2-dropdown {
  margin-top: var(--core-spacing-200);
  border-radius: var(--semantic-borderRadius-md) !important;
  padding: var(--core-spacing-400);
  border: none !important;
}

/*  Default style for option item > li */
.select2-results__option {
  font-family: var(--core-fontFamily-ibmPlex-sans);
  border-radius: var(--component-dropdownItem-border-radius) !important;
  padding-inline: var(--component-dropdownItem-spacing-padding-md) !important;
  gap: var(--component-dropdownItem-spacing-gap-md);
  background-color: var(--component-dropdownItem-bg-default);
  align-items: center;
  display: flex;
  background: var(--component-dropdownItem-label-color-selected) !important;
  color: var(--component-textIcon-inverse-prominent) !important;
  cursor: pointer;
}
/* Dropdown Option size for sm */
.select2-results__option.select2-results__option--sm {
  min-height: var(--component-dropdownItem-height-item-sm);
}

/* Dropdown Option size for md */
.select2-results__option.select2-results__option--md{
  min-height: var(--component-dropdownItem-height-item-md);
}

/* Hover option */
.select2-results__option--highlighted {
  background-color: var(--component-button-bg-black-secondary-hover) !important;
  color: var(--component-textIcon-inverse-prominent) !important;
}
/* Disabled option */
.select2-results__option--disabled {
  opacity: var(--opacity-disabled);
  cursor: pointer;
  color: var(--component-textIcon-inverse-prominent);
}
/* Selected option */
.select2-container--default .select2-results__option--selected {
  background-color: var(--component-dropdownItem-icon-selectedWhite) !important;
  color: var(--component-dropdownItem-label-color-selected) !important;
}
