<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../styles/quill.css" />
    <link rel="stylesheet" href="./dropdown.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="./dropdown.js"></script>
  </head>
  <body>
    <div class="wrappers">
      <p>Dropdown size-md</p>
      <div class="quill-dropdown-container quill-dropdown-md" >
        <select id="test" aria-placeholder="Select" class="quill-dropdown-source-md">
        </select>
      </div>
      <p>Dropdown size-sm</p>
      <div class="quill-dropdown-container quill-dropdown-sm" >
        <select id="test1" aria-placeholder="Select" class="quill-dropdown-source-md">
        </select>
      </div>
  
    </div>
  </body>
</html>
